snippet plot_import "import statements for plotting" b
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
$1
sns.set_style('ticks')
sns.set_palette('colorblind')
endsnippet
